{% extends "base.html" %}
{% block content %}
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
    {% include "admin_navbar.html" %}
    <div class="container pt-5 mt-2">
        <table>
            <tr style="margin-top: 8px;">
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Delete</th>
            </tr>
            {% if dev %}
            {% for d in dev %}
                <tr>
                    <td>{{d.id}}</td>
                    <td>{{d.name}}</td>
                    <td>{{d.email}}</td>
                    <td> <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal-{{ d.id }}">Delete</button></td>
                </tr>
                <div class="modal" id="exampleModal-{{ d.id }}" tabindex="-1">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">{{ d.name }}</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <span class="text-danger">Are you sure that you want to delete ( {{ d.name }} ) User?</span>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Cancel</button>
                                <form action="{{ url_for('AD.delete_dev', id=d.id) }}" method="post">
                                    <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                                </form>
                            </div>
                        </div>            
                    </div>
                </div>    
            {% endfor %}
            {% else %}
            {% for d in des %}
                <tr>
                    <td>{{d.id}}</td>
                    <td>{{d.name}}</td>
                    <td>{{d.email}}</td>
                    <td> <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal-{{ d.id }}">Delete</button></td>
                </tr>
                <div class="modal" id="exampleModal-{{ d.id }}" tabindex="-1">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">{{ d.name }}</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <span class="text-danger">Are you sure that you want to delete ( {{ d.name }} ) User?</span>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Cancel</button>
                                <form action="{{ url_for('AD.delete_des', id=d.id) }}" method="post">
                                    <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                                </form>
                            </div>
                        </div>            
                    </div>
                </div>    
            {% endfor %}
            {% endif %}
            
        </table>
    </div>
{% endblock content %}