{% extends "base.html" %}
{% block content %}
    {% include "navbar.html" %}
    {# --------------------------------------------------- BANNERS --------------------------------------------------- #}
<div style="background-image: linear-gradient(to bottom right, #24ffec , yellow);">
    <div id="carouselExampleControls" class="carousel slide" style="top: 60px;" data-bs-ride="carousel">
        <div class="carousel-inner">  
            <div class="carousel-item active" style="margin-right: 0px; top: 10px;">
                <img class="d-block w-100" src="{{ url_for('static', filename='images/girl.jpg')}}" alt="Guy" style="width: 100%; height: 400px; object-fit: contain;">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="{{ url_for('static', filename='images/guy.jpg')}}" alt="Girl" style="width: 100%; height: 400px; object-fit: contain;">
            </div>
        </div>
        
        
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    {# --------------------------------------------------- END BANNERS --------------------------------------------------- #}


    {# --------------------------------------------------- DEVELOPERS --------------------------------------------------- #}

    {% if dev %}
    <div class="container py-3">
        <div class="row row-cols-1 row-cols-md-3 mb-3 text-center mt-5">
            {% for d in dev.items %}
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                    <h4 class="my-0 fw-normal">{{ d.name }}</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">{{ d.email }}</h1>
                    <ul class="list-unstyled mt-3 mb-4">
                    <p>{{ d.desc }}</p>
                    </ul>
                    <a href="{{ url_for('dev.single_page', id=d.id) }}" class="w-100 btn btn-lg btn-outline-primary">Details</a></button>
                </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
    
    <div class="container pb-3">
        <div class="row">
            <div class="col text-center">
                {% if dev.has_next %}
                    <span style="margin-left: 10px;"><a href="{{ url_for('dev.index', page=dev.next_num) }}">Older posts</a></span>
                {% endif %}    
                {% if dev.has_prev %}
                    <span><a href="{{ url_for('dev.index', page=dev.prev_num) }}">Newer posts</a></span>
                {% endif %}
            </div>
        </div>
    </div>

    {# --------------------------------------------------- END DEVELOPERS --------------------------------------------------- #}


    {# --------------------------------------------------- DESIGNERS --------------------------------------------------- #}
    
    {% else %}
    <div class="container py-3">
        <div class="row row-cols-1 row-cols-md-3 mb-3 text-center mt-5">
            {% for de in des %}
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                    <h4 class="my-0 fw-normal">{{ de.name }}</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">{{ de.email }}</h1>
                    <ul class="list-unstyled mt-3 mb-4">
                    <p>{{ de.desc }}</p>
                    </ul>
                    <a href="{{ url_for('des.single_pag', id=de.id) }}"></a><button type="button" class="w-100 btn btn-lg btn-outline-primary">Details</button>
                </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="container pb-3">
        <div class="row">
            <div class="col text-center">
                {% if des.has_next %}
                    <span style="margin-left: 10px;"><a href="{{ next_url }}">Older posts</a></span>
                {% endif %}    
                {% if des.has_prev %}
                    <span><a href="{{ prev_url }}">Newer posts</a></span>
                {% endif %}
            </div>
        </div>
    </div>
    {% endif %}
</div>
    {# --------------------------------------------------- END DESIGNERS --------------------------------------------------- #}
{% endblock content %}